<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>{{pageTitle}}</h1>
            <p>{{welcomeMessage}}</p>
        </div>
    </div>
    <footer class="pull-right">
        <p>Copyright {{currentYear}}</p>
    </footer>
</div>
</body>
</html>