<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        {{> menu}}
        <div class="container">
            <div class="col-md-12">
                {{> header}}
                {{screamIt welcomeMessage}}
            </div>
            {{> footer}}
        </div>
    </body>
</html>